<header>
    <a href="/"><img src="/ressources/logop.gif" class="logo" /></a>
    <p class="capo">CAPOEIRA PARIS</p>
    <nav id="header_menu">
        <html>
        <ul>
            <li class="menu"><a href="/accueil">Accueil</a></li>
            <li class="menu"><a href="/pauloboa-vida">Mestre Paulo Boa-Vida</a></li>
            <li class="menu">
                <div><a href="/legroupe">Le groupe</a>
                    <ul class="undermenu">
                        <li><a href="/legroupe#groupe_presentation">Présentation de l'association</a>
                        </li>
                        <li><a href="/legroupe#groupe_mestre">Genealogie</a></li>
                        <li><a href="/legroupe#groupe_eleve">Élève</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu">
                <div><a href="/lespartenaires">Les partenaires</a>
                    <ul class="undermenu">
                        <li><a href="/lespartenaires#Paoloflores">Mestre Paulo Flores</a></li>
                        <li><a href="/lespartenaires#Rafa">Mestre Rafa</a></li>
                        <li><a href="/lespartenaires#Fredmussa">Maître Fred Mussa</a></li>
                        <li><a href="/lespartenaires#Geraldo">Mestre Geraldo</a></li>
                        <li><a href="/lespartenaires#Casquinha">Mestre Casquinha</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="/histoire_de_la_capoeira">Histoire de la capoeira</a></li>
            <li class="menu"><a href="/handicape">Le handicap mental</a></li>
            <!-- rediriger presse/actu vers actu -->
            <li class="menu">
                <div><a href="/presse">Presse/actu</a>
                    <ul class="undermenu">
                        <li><a href="/presse">Presse</a></li>
                        <li><a href="/presse">Derinères actus</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="/infopratique">Infos pratiques</a></li>
        </ul>
    </nav>
</header>