---
layout: default
---

<h1>ACCUEIL</h1>

<div id="content-netlify" class="content"> {{ site.data.contenu.accueil | markdownify }}</div>

<div class="row_acceuil">
    <div class="column_acceuil">
        <img src="/ressources/acceuil/img.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img2.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img5.jpg" class="pic_acceuil">
    </div>
    <div class="column_acceuil">
        <img src="/ressources/acceuil/img4.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img1.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img6.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img3.jpg" class="pic_acceuil">
    </div>