---
layout: default
---

<h1>ACCUEIL</h1>

<p class="text8">Nous sommes heureux de vous accueillir dans l’association Chamada de Angola </br>
    La Capoeira est un art martial brésilien, mêlant danse et lutte, rythme et lucidité. <br>
    Le groupe fondé par Mestre Paolo Boa-Vida, démocratise cette tradition depuis 1986 ; <br>
    son travail se développe sur trois continents, à travers la France, le Brésil et le Sénégal.</p>

<div class="row_acceuil">
    <div class="column_acceuil">
        <img src="/ressources/acceuil/img.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img2.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img5.jpg" class="pic_acceuil">
    </div>
    <div class="column_acceuil">
        <img src="/ressources/acceuil/img4.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img1.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img6.jpg" class="pic_acceuil">
        <img src="/ressources/acceuil/img3.jpg" class="pic_acceuil">
    </div>