---
layout: default
---

<h1>L’art de la capoeira au service du handicap.</h1>
<div  class="content">
    <p  class="text">
   La pratique de la capoeira s’adapte à tous les publics : enfants, adultes, seniors, handicapés mentaux et handicapés physiques. La gestuelle, la danse, la plasticité et la richesse des mouvements de capoeira offrent des recours créatifs infinis à toute personne cherchant à s’exprimer avec cet art. <br>

Elles  s’approprient ou inventent leur propre langage corporel de façon ludique car la capoeira s’adapte étonnamment bien à la morphologie, à l’âge, aux atouts et aux difficultés de chacun. <br> <br>

L’ouverture du monde de la capoeira aux personnes atteintes de handicap mental, notamment autistique, a débuté dans les années 90 à Paris, lors de notre partenariat avec l’association Turbulences et l’Hôpital du Jour Santos Dumont (75). Nous avons, à cette époque, parié sur une démarche artistique pouvant apporter une meilleure qualité de vie et une meilleure visibilité de ces personnes, souvent marginalisées ou discriminées. <br>

Nous avons créé, sous la tutelle de Philippe Duban, entre autre, un projet multi-artistique comprenant le théâtre, la capoeira, la musique et les chants polyphoniques de diverses parties du monde. Après deux années de répétition, nous avons mis en scène un spectacle vivant joué par ces personnes handicapées mentales : « Le Melting Potes ». <br>

Désormais, l’association Chamada de Angola poursuit depuis 20 ans un travail de dissémination de la capoeira dans le monde du handicap mental. Nous avons élaboré tout au long de ces années une pédagogie adaptée qui offre d’excellents résultats. Elle prend en considération le temps et la sensibilité nécessaire pour mener à terme cette démarche qui ne vise pas la compétition mais le bien-être de chacun. <br>

Afin que ce public ait davantage de visibilité et d’inclusion sociale,  nous organisons des rencontres de capoeira ouvertes à tous les pratiquants, toutes générations confondues, avec ou sans handicap. <br>

Puisque la capoeira Angola associe à la fois la lutte, la danse, le jeu, la musique et le chant, les pratiquants atteints de handicap s’y épanouissent et se reconnaissent comme individus à part entière. <br>

Nous développons ce travail à présent dans deux institutions : À l’IME de Rosny sous-bois et au CAJ de Ménilmontant, à Paris. <br>
</p>
</div>