---
layout: default
---

<h1>Histoire de la Capoeira :</h1>
<div  class="content">
    <p  class="text">Vers 1530 les premiers esclaves, venus de différents pays d’Afrique noire débarquent sur le nouveau continent, au Brésil. C’est là que commence notre histoire. Ils arrivent d’abord par centaines, puis par milliers. Ils apportent avec eux une culture vivante, et bien différente de celle des Européens. Une culture qui n’était pas conservée dans les livres mais dans le corps, et le coeur de chacun. Elle se transmettait de père en fils, de maître à disciple, de génération en génération… <br><br>

   
   <span class="text-bolt">
     La capoeira, de mère noire esclave et de père inconnu, est née dans les campagnes brésiliennes et s’est répandue dans les villes comme une chose vagabonde.
   </span>
     Son origine est discutée. Pour les uns, elle est africaine, pour les autres, brésilienne. Même si tout le monde s’accorde pour dire qu’elle a été créée par les esclaves africains. Peut-être ne pourrons nous jamais préciser avec certitude «qui» a introduit pour la première fois le germe de la capoeira au Brésil, ni «quand». Elle n’a pas été créée par «quelqu’un», dans le seul but d’attaque ou de défense personnelle, à la différence de la plupart des arts martiaux. 
   <span class="text-bolt">
     La capoeira est née de la conjonction de plusieurs facteurs. Elle a d’abord servi d’instrument de défense et de résistance culturelle aux esclaves, avant de devenir un catalyseur et un régulateur social des communautés noires. N’oublions jamais ce qui s’en est suivi : ses adeptes ont été, jusqu’à récemment, violemment persécutés, discriminés, réprimés, puis fouettés, emprisonnés et exilés.
     </span><br><br>


     L’interdiction de pratiquer la capoeira au Brésil a été levée en 1935. Et c’est seulement depuis quelques décennies qu’elle est présente dans les écoles brésiliennes, les académies de danses et d’art martiaux, les universités, au théâtre, dans la musique et au cinéma. Aujourd’hui elle est pratiquée dans tous les pays occidentaux.
   <br><br>


   <span class="text-bolt">« … Le « sauvage  » une fois découvert, exorcisé, baptisé et exhibé, sera mythifié. » </span>, a écrit Mario Carelli dans ‘Les Cultures Croisées’ à propos de la colonisation des Portugais au Brésil. 

   <span class="text-bolt">De même pour la capoeira : Après 350 ans de trajectoire marginale et d’existence cachée, l’heure est enfin arrivée pour elle de régler ses comptes.
   </span><br>

     Voici pourquoi cette danse, si spectaculaire, si festive, si rythmée, a pu être aussi périlleuse et parfois même violente. Voici comment lorsque nous la pratiquons, nous nous rappelons plus que jamais notre côté animal et la nécessité de nous servir de notre corps dans chaque situation qui se présente.
     Cette lutte déguisée en danse a permis aux esclaves de perpétuer des traditions puissantes et réprimées et de préserver en eux, un espace de liberté. C’est avec le jeu, le chant, la ruse et l’agilité de leur corps qu’ils ont compensé l’absence d’armes, qu’ils ont répondu à la négation de leur culture d’origine et résisté à la période la plus sombre de leur histoire.
   </p>
</div>