---
layout: default
---
<p class="text8">L’Association Chamada de Angola est agréée <br>
    par la <span class="text-bolt"> Jeunesse et Education Populaire <br>N°75JEP12608 </span><br>
  </p>
  <h1>Horaire et lieux des cours :</h1>
  <div  class="content">
    {{ site.data.contenu.horaires | markdownify }}

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8826.567261988632!2d2.3930482552653483!3d48.87433791178911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d95ad5af251%3A0x2a64127037d9b4c9!2s22%20Rue%20Olivier%20M%C3%A9tra%2C%2075020%20Paris!5e0!3m2!1sfr!2sfr!4v1635002011734!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <h1>Tarif</h1>
  <p class="text8"><span class="text-bolt">Premier cours Gratuit pour les résidents en Région Parisienne</span><br></p>
  <div  class="content">
    {{ site.data.contenu.tarifs | markdownify }}
  </div>
