---
layout: default
---
<p class="text8">L’Association Chamada de Angola est agréée <br>
    par la <span class="text-bolt"> Jeunesse et Education Populaire <br>N°75JEP12608 </span><br>
  </p>
  <h1>Horaire et lieux des cours :</h1>
  <div  class="content">
      <p>Lundi: 19H00/20H30 <br> École Olivier Métra - 22, rue Olivier Metra 75020 Paris ( Salle de Danse) - Metro Place des Fêtes</p> <br>

      <p>Jeudi - 19H30 - 21H00 <br> Gymnase Louis Lumières - 30, rue Louis Lumières 75020 Paris - Porte de Bagnolet</p> <br>

      <p>Dimanche: 17H00/19H00  <br> Gymnase de La Liberté - 30, BD de la Liberté 93260 Les Lilas M° Mairie de Lilas </p>

      <p>RODA OUVERTE <br>
Tous les derniers troisième dimanche du mois à 17H00 au Gymnase de la Liberté</p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8826.567261988632!2d2.3930482552653483!3d48.87433791178911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d95ad5af251%3A0x2a64127037d9b4c9!2s22%20Rue%20Olivier%20M%C3%A9tra%2C%2075020%20Paris!5e0!3m2!1sfr!2sfr!4v1635002011734!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <h1>Tarif</h1>
  <p class="text8"><span class="text-bolt">Premier cours Gratuit pour les résidents en Région Parisienne</span><br></p>
  <p class="text8">Carte de 5 cours: 75 €</p><br>
  <p class="text8">Carte de 10 cours: 120 €</p><br>
  <p class="text8">Carte de 15 cours: 140 €</p><br>
  <p class="text8">Carte pour l’année : 900 €</p><br>
  <p class="text8">Adhésion annuelle: 30 €</p><br>
