---
layout: default
---
<div id="groupe_presentation">
    <h1>Présentation de l'association</h1>
</div>

<h2>Historique du groupe de chamada de Angola</h2>
    <div class="content">
         {{ site.data.contenu.historique | markdownify }}
    </div>

<h3>La création du groupe</h3>
<div class="content">
    {{ site.data.contenu.creation | markdownify }}
</div>

<h2>Les pionniers de la Capoeira à Paris</h2>
<div class="content">
    <img src="../ressources/historique_capoeira.jpg" class="pic_float"/>
    {{ site.data.contenu.pionniers | markdownify }}
</div>

<h2>Deuxième temps –Macaques –Mouvement Culturel Brésilien</h2>
<div class="content">
    {{ site.data.contenu.macaques | markdownify }}
</div>


<div id="groupe_mestre">
    <h1>Genealogie</h1>
</div>
<div id="corps2">
    <div class="row">

{% assign mestreByPriority = site.mestre | sort:"ordre" %} 
{% for mestre in mestreByPriority %}
<div class="column">
    <div class="content_genealogie">
        <img src="{{mestre.photo}}" alt="{{mestre.nom}}" style="width: 100%;">
        <h3>{{mestre.nom}}</h3>
        <p>{{mestre.description}} <a href="#{{mestre.nom}}">plus</a> </p>
    </div>
</div>
{% endfor %}
    </div>
</div>


{% assign mestreByPriority = site.mestre | sort:"ordre" %} 
{% for mestre in mestreByPriority %}
<div id="corps">
    <div id="{{mestre.nom}}">
    <h2>{{mestre.nom}}</h2>
    {{mestre.subtitle | markdownify}}
    <div id="content-netlify" class="content">
       {{mestre.bio | markdownify}}
    </div>
</div>
</div>
{% endfor %}

<!-- ---------- -->
<!-- ANCRE 3    -->
<!-- ---------- -->
<h1 id="groupe_eleve">Élève</h1>
{% assign eleveByPriority = site.eleve | sort:"ordre" %} 
{% for eleve in eleveByPriority %}
<div id="corps">
    <div id="{{eleve.nom}}">
        <h2>{{eleve.nom}}</h2>
    </div>
    <div id="corps" style="font-family: Arial;
    font-size: 1.2em;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    color: black;
    line-height: 210%;">
            {% if eleve.photo %}
                <img src="{{ eleve.photo }}" class="pic_float"/>
            {% endif %}
            {{eleve.bio | markdownify}}
        <p style="clear: both;"></p>
    </div>
</div>
{% endfor %}
