---
layout: default
---
        <!-- ----------- -->
        <!-- ANCRE : 0 -->
        <!-- ---------- -->
          
        <div id="Paoloflores" class="partenaire_block">
            <h1>Maître Paulo Flores</h1>
            <div class="content_partenaire">
              <p class=text>
                <img src="../ressources/partenaires/presentation_paulo_flores.jpg" class="pic_float">
                Maître Paulo Flores (à gauche)
              </p>
            </div>
          </div>
        <!-- ----------- -->
        <!-- ANCRE : 1 -->
        <!-- ---------- -->
        
        <div id="Rafa" class="partenaire_block">
          <h1>Mestre Rafa</h1>
          <div class="content_partenaire">
            <p class=text>
              <img src="../ressources/partenaires/presentation_rafa.jpg" class="pic_float">
              Maître Rafa (au centre)
            </p>
          </div> 
        </div>

 
        <!-- ----------- -->
        <!-- ANCRE : 3 -->
        <!-- ---------- -->
 
        <div id="Fredmussa" class="partenaire_block">
          <h1>Maître Fred Mussa</h1>
          <div class="content_partenaire">
            <p class=text>
              <img src="../ressources/partenaires/fred_mussa.jpg" class="pic_float">
              Frederico Baeta Neves Mussa a commencé la capoeira à l’âge de 7 ans avec son frère ainé qu’était élève de Maître Canela.
              A dix ans il s’inscrit à l’Académie de Maître Corvão. Ensuite il passe à s’entraîner avec Maître Lua do Cruzeiro do Sul où il obtient sa première graduation. Par la suite Maître Lua prend distance de la capoeira et Mussa passa à enseigner sans avoir affiliation à aucun maître. Il crée à Grajau, zone Nord de la ville de Rio le Groupe Camugerê et développe des travaux sociaux dans les alentours du quartier.

              1990 il rencontre Maître Neco qu’appartenait à l’époque au Grupo de Capoeira Angola Pelourinho crée par Maître Moraes et devient son disciple. Fred Mussa est professeur d’Éducation Physique et spécialisée en Physiologie de l’Exercice par l’Université Gama Filho. Possède une maîtrise en Science de la Motricité Humaine par l’Université Castelo Branco.
            </p>
          </div> 
        </div>

        <!-- ----------- -->
        <!-- ANCRE : 4 -->
        <!-- ---------- -->

        <div id="Geraldo" class="partenaire_block">
          <h1>Mestre Geraldo</h1>
          <div class="content_partenaire">
            <p class=text>
              <img src="../ressources/partenaires/presentation_geraldo.jpg" class="pic_float">
              Maître Paulo Flores (à gauche)
            </p>
          </div> 
        </div>


        <!-- ----------- -->
        <!-- ANCRE : 5 -->
        <!-- ---------- -->
        <div id="Casquinha" class="partenaire_block">
          <h1>Mestre Casquinha</h1>
          <div class="content_partenaire">
            <p class=text>
              <img src="../ressources/partenaires/presentation_casquinha.jpg" class="pic_float">
              Il est né à Rio de Janeiro en 1956. Il a commencé la capoeira à l’âge de 12 ans et a été nommé Maître en 1981 par l’Association des « Pequenos Mestres». Il fait partie du Conseil Supérieur des Maîtres du Rio de Janeiro et de la Confédération brésilienne de capoeira. Il a participé à plusieurs reprises à des championnats de capoeira, et a été couronné Vice-champion en 1981 et en 1988. Actuellement il développe son travail dans la Compagnie de Théâtre et Danse « Polo ».
            </p>
          </div> 
        </div>