---
layout: default
---
<!-- <div class='sprite-svg'>
    <svg height='64' viewbox='0 0 64 64' width='64'>
      <path d='M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z' id='arrow-left-1'></path>
    </svg>
    <svg height='64' viewbox='0 0 64 64' width='64'>
      <path d='M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z' id='arrow-right-1'></path>
    </svg>
  </div> -->
    <div class='wrapper'>
      <a class='grid-image' href='#img1'>
        <img class="img_presse" alt='image 1' src='../ressources/presse/blog_text1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img2'>
        <img class="img_presse" alt='image 2' src='../ressources/presse/blog_text2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img3'>
        <img class="img_presse" alt='image 3' src='../ressources/presse/blog_text3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img4'>
        <img class="img_presse" alt='image 4' src='../ressources/presse/blog_text4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img5'>
        <img class="img_presse"alt='image 5' src='../ressources/presse/blog_text5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img6'>
        <img class="img_presse"alt='image 6' src='../ressources/presse/blog_text6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img7'>
        <img class="img_presse"alt='image 7' src='../ressources/presse/capoeira_marcilhac_journal%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img8'>
        <img class="img_presse"alt='image 8' src='../ressources/presse/magazine4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img9'>
        <img class="img_presse"alt='image 9' src='../ressources/presse/nume%CC%81risation1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>

      <a class='grid-image' href='#img10'>
        <img class="img_presse" alt='image 10' src='../ressources/presse/nume%CC%81risation2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img11'>
        <img class="img_presse" alt='image 11' src='../ressources/presse/nume%CC%81risation3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img12'>
        <img class="img_presse" alt='image 12' src='../ressources/presse/nume%CC%81risation4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img13'>
        <img class="img_presse" alt='image 13' src='../ressources/presse/nume%CC%81risation5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img14'>
        <img class="img_presse" alt='image 14' src='../ressources/presse/nume%CC%81risation6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img15'>
        <img class="img_presse" alt='image 15' src='../ressources/presse/nume%CC%81risation7%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img16'>
        <img class="img_presse" alt='image 16' src='../ressources/presse/nume%CC%81risation9%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img17'>
        <img class="img_presse" alt='image 17' src='../ressources/presse/nume%CC%81risation11%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>
      <a class='grid-image' href='#img18'>
        <img class="img_presse" alt='image 18' src='../ressources/presse/senegal1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </a>

  </div>
  <div class='zoom-wrapper' id='img1'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 1' class='zoom-image' src='../ressources/presse/blog_text1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__next' href='#img2'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 2' src='../ressources/presse/blog_text2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img2'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 2' class='zoom-image' src='../ressources/presse/blog_text2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img1'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 1' src='../ressources/presse/blog_text1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img3'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 3' src='../ressources/presse/blog_text3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img3'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 3' class='zoom-image' src='../ressources/presse/blog_text3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img2'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 2' src='../ressources/presse/blog_text2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img4'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 4' src='../ressources/presse/blog_text4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img4'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 4' class='zoom-image' src='../ressources/presse/blog_text4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img3'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 3' src='../ressources/presse/blog_text3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img5'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 5' src='../ressources/presse/blog_text5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img5'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 5' class='zoom-image' src='../ressources/presse/blog_text5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img4'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 4' src='../ressources/presse/blog_text4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img6'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 6' src='../ressources/presse/blog_text6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img6'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 6' class='zoom-image' src='../ressources/presse/blog_text6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img5'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 5' src='../ressources/presse/blog_text5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img7'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 7' src='../ressources/presse/capoeira_marcilhac_journal%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img7'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 7' class='zoom-image' src='../ressources/presse/capoeira_marcilhac_journal%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img6'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 6' src='../ressources/presse/blog_text6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img8'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 8' src='../ressources/presse/magazine4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img8'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 8' class='zoom-image' src='../ressources/presse/magazine4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img7'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 7' src='../ressources/presse/capoeira_marcilhac_journal%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img9'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 9' src='../ressources/presse/nume%CC%81risation1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img9'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 9' class='zoom-image' src='../ressources/presse/nume%CC%81risation1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img8'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 8' src='../ressources/presse/magazine4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img10'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 10' src='../ressources/presse/nume%CC%81risation2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img10'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 10' class='zoom-image' src='../ressources/presse/nume%CC%81risation2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img9'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 9' src='../ressources/presse/nume%CC%81risation1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img11'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 10' src='../ressources/presse/nume%CC%81risation3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img11'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 11' class='zoom-image' src='../ressources/presse/nume%CC%81risation3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img10'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 10' src='../ressources/presse/nume%CC%81risation2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img12'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 12' src='../ressources/presse/nume%CC%81risation2%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img12'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 12' class='zoom-image' src='../ressources/presse/nume%CC%81risation4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img11'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 11' src='../ressources/presse/nume%CC%81risation3%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img13'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 13' src='../ressources/presse/nume%CC%81risation5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img13'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 13' class='zoom-image' src='../ressources/presse/nume%CC%81risation5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img12'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 12' src='../ressources/presse/nume%CC%81risation4%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img14'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 14' src='../ressources/presse/nume%CC%81risation6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>

  <div class='zoom-wrapper' id='img14'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 14' class='zoom-image' src='../ressources/presse/nume%CC%81risation6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img9'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 13' src='../ressources/presse/nume%CC%81risation5%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img15'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 15' src='../ressources/presse/nume%CC%81risation7%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>


  <div class='zoom-wrapper' id='img15'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 15' class='zoom-image' src='../ressources/presse/nume%CC%81risation7%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img9'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 14' src='../ressources/presse/nume%CC%81risation6%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img16'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 16' src='../ressources/presse/nume%CC%81risation9%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>


  <div class='zoom-wrapper' id='img16'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 16' class='zoom-image' src='../ressources/presse/nume%CC%81risation9%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img15'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 15' src='../ressources/presse/nume%CC%81risation7%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img17'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 17' src='../ressources/presse/nume%CC%81risation11%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>


  <div class='zoom-wrapper' id='img17'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 17' class='zoom-image' src='../ressources/presse/nume%CC%81risation11%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img16'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 16' src='../ressources/presse/nume%CC%81risation9%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
    <a class='navigation-arrow navigation-arrow__next' href='#img18'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 18' src='../ressources/presse/senegal1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-right-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
    </a>
  </div>


  <div class='zoom-wrapper' id='img18'>
    <div class='zoom-wrapper__image'>
      <div class='cell'>
        <img class="img_presse" alt='image 18' class='zoom-image' src='../ressources/presse/senegal1%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=1000.jpg'>
      </div>
    </div>
    <a class='zoom-wrapper__close' href='#'>×</a>
    <a class='navigation-arrow navigation-arrow__prev' href='#img17'>
      <span class='navigation-arrow__image'>
        <img class="img_presse" alt='image 17' src='../ressources/presse/nume%CC%81risation11%EF%B9%96auto=compress&amp;cs=tinysrgb&amp;w=400.jpg'>
      </span>
      <span class='navigation-arrow__icon'>
        <svg class='icon' height='28' viewbox='0 0 64 64' width='28'>
          <use xlink:href='#arrow-left-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
        </svg>
      </span>
  </div>